body {
    margin: 0;
    /* padding-top: 50px; */
}
.refes a {
    padding: 2vh;
    margin-left: auto;
    margin-right: auto;
}
.header1 {
    background-color: mistyrose;
    width: 100%;
    height: 50px;
}

.fixed-top {
    position: fixed;
    top: 0;
}
/* La forma optima de maquetar es con position sticky */
.sticky-top {
    position: sticky;
    top: 0;
}

.hero-image{
  background-color: palegoldenrod;
  width: 100%;
  height: 100vh;
}