/* 
box model es el modelo en el cual css ve a html, es decir como un caja con las siguientes propiedades:
1.el contenido(content): el contenido el texto HTML,tomando en cuenta sus dimensiones(width y height)
2. el borde(border):lo que delimita cada uno de los elementos de HTML
3. el relleno (padding): son las distancias internas (la distancia del borde al contenido)
4. el margen (margin): las distancias externas(la distancia entre el elemento HTML y sus elementos padres o hermanos)

Dentro del modelo de caja debemos considerar que una caja contendrà 4 lados:
1.Arriba(top)
2.Abajo(bottom)
3.Izquierda(left)
4.Derecha(right)
 */
h1 {
    /* bordes */
    border-color: aqua;
    border-width: 1px;
    border-style: solid;
    width: 400px;
    height: 200px;
    /* shorthand */
    border: 2px dashed blue;
}

/* PADDING MARGIN */
.caja-1,
.caja-2 {
    background-color: chocolate;
    border: medium solid orange;
    /* padding y margin es un shorthand y aplica un valor a todos los lados sino se especifica */
    padding: 20px;
    margin: 40px;
}

/* en orden de las manecillas del reloj
                        top
                  left        right
                        bottom
*/

.caja-linea,
.caja-bloque {
    background-color: darkcyan;
    width: 500px;
    height: 250px;
    padding: 16px;
    border: medium solid black;
    margin: 32px;
}
.caja-linea {
    display: inline;
}

.caja-bloque {
    display: block;
}
/*
Propiedad Display:
inline
block
inline-block-
*/

.caja-none,
.caja-linea-bloque,
.caja-hidden {
    background-color: greenyellow;
    color: black;
    width: 600px;
    height: 300px;
}

.caja-linea-bloque {
    display: inline-block;
}

.caja-none {
    display: none;
}
/* visivility sirve para ocultar un elemento sin importar el espacio en la interfaz, ojo tambien se aplica para otras cosillas */
.caja-hidden {
    visibility: hidden;
}

.overflow {
    background-color: aqua;
    width: 200px;
    height: 100px;
    /* por defecto */
    overflow: visible;
    /* ocultamos */
    overflow: hidden;
    /* aplicamos scroll */
    overflow: scroll;
    /* auto generamos las barras de desplazamiento en el lado que la necesite */
    overflow: auto;
    /* overflow-y: scroll;
    overflow-x: scroll; */
}
