html {
    margin: 0;
    padding: 0;
}

.header1 {
    padding: 20px;
    height: 100px;
    background-color: beige;
    
}
.links {
  display: flex;  
  flex-direction: row;
  justify-content: space-evenly;
}
.links li {
    list-style: none;
    margin: 0 10px;
    
}
.links li a {
    display: flex;
    padding: 16px;
    letter-spacing: 1px;
    font-weight: 300;
    
}
.sticky-top {
    position: sticky;
    top: 0;
}
