html {
    margin: 0;
    padding: 0;
}

.header1 {
    padding: 20px;
    height: 100px;
    background-color: beige;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.links li {
    list-style: none;
    margin: 0 10px;
}
.links li a {
    display: flex;
    padding: 16px;
    letter-spacing: 1px;
    font-weight: 300;
}
.sticky-top {
    position: sticky;
    top: 0;
}

.color-by-name {
    background-color: coral;
    color: rebeccapurple;
    border: thick solid yellow;
}

/* RGB */
/* CMYK */

.color-hex {
    background-color: #ff6600;
    background-color: #ff660090; /*los ultimos dos digitos son la opacidad que van de 1 a 100 con el uso de 8 digitos y de 1 a 9 en el uso de 4 digitos*/
    color: rebeccapurple;
    border: thick solid #ffffff; /*ffffff es el extremo opuesto de 000000*/
    border: thick solid #ff0000; /*Dependiendo de la posicion de ff es el color*/
    border: thick solid #0f0; /*Se pueden simplificar a 3 digitos*/
    border: thick solid #0000ff; /*Siempre y cuando sean el mismo par de digitos*/
    border: thick solid #000000;
}

.color-rgb {
    background-color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    background-color: rgb(0, 255, 0);
    background-color: rgb(0, 0, 255);
    background-color: rgb(0, 0, 0);
    background-color: rgba(
        0,
        0,
        0,
        0.5
    ); /* 'a' Agrega el canal alfa/opacidad que va de 0 a 100 xd*/
    border: thick solid rgb(128, 109, 7);
}

/* SISTEMA DE COLORES HSL HUGE-SATURATION-LIGHTNESS
El primer valor es Hue (circulo cromatico)
0· -> red
60· -> yellow
120· -> green
180· -> cyan
240· -> blue
300· -> magenta

el segundo valor es saturation(intensidad de color) se maneja por porcentajes:
100% -> color puro

el tercer valor es Lightness (la luminosidad del color):
0% -> color negro
50% -> color puro
100% -> color blanco
*/
.color-hsl {
    background-color: hsl(0, 100%, 50%);
    background-color: hsla(
        0,
        100%,
        50%,
        0.5
    ); /*Agregando el 'a' se aplica la opaciodad tambien es en porcentaje pero se maneja en decimales ejem, .5 === 50% */

    color: #fff;
    border: thick solid greenyellow;
}

/* CURRENT COLOR Y TRANSPARENT
transparent === rgba(0,0,0,0)
currentColor: hereda el valor por defecto asignado a la propiedad color del acentros que tenga definida esa propiedad, busca del ancestro màs cercano al màs alejado
*/
.color-trans-cur {
    background-color: magenta;
    background-color: currentColor;
    background-color: transparent;
    border: thick solid currentColor;
}

.opacity {
    background-color: orchid;
    color: navy;
    border: thick solid black;
    opacity: 0.5;
}
