/* reset */
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}

.header1 {
    padding: 20px;
    height: 100px;
    background-color: beige;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.links li {
    list-style: none;
    margin: 0 10px;
}
.links li a {
    display: flex;
    padding: 16px;
    letter-spacing: 1px;
    font-weight: 300;
}
.sticky-top {
    position: sticky;
    top: 0;
}

.color-by-name {
    background-color: coral;
    color: rebeccapurple;
    border: thick solid yellow;
}

/* RGB */
/* CMYK */

.color-hex {
    background-color: #ff6600;
    background-color: #ff660090; /*los ultimos dos digitos son la opacidad que van de 1 a 100 con el uso de 8 digitos y de 1 a 9 en el uso de 4 digitos*/
    color: rebeccapurple;
    border: thick solid #ffffff; /*ffffff es el extremo opuesto de 000000*/
    border: thick solid #ff0000; /*Dependiendo de la posicion de ff es el color*/
    border: thick solid #0f0; /*Se pueden simplificar a 3 digitos*/
    border: thick solid #0000ff; /*Siempre y cuando sean el mismo par de digitos*/
    border: thick solid #000000;
}

.color-rgb {
    background-color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    background-color: rgb(0, 255, 0);
    background-color: rgb(0, 0, 255);
    background-color: rgb(0, 0, 0);
    background-color: rgba(
        0,
        0,
        0,
        0.5
    ); /* 'a' Agrega el canal alfa/opacidad que va de 0 a 100 xd*/
    border: thick solid rgb(128, 109, 7);
}

/* SISTEMA DE COLORES HSL HUGE-SATURATION-LIGHTNESS
El primer valor es Hue (circulo cromatico)
0· -> red
60· -> yellow
120· -> green
180· -> cyan
240· -> blue
300· -> magenta

el segundo valor es saturation(intensidad de color) se maneja por porcentajes:
100% -> color puro

el tercer valor es Lightness (la luminosidad del color):
0% -> color negro
50% -> color puro
100% -> color blanco
*/
.color-hsl {
    background-color: hsl(0, 100%, 50%);
    background-color: hsla(
        0,
        100%,
        50%,
        0.5
    ); /*Agregando el 'a' se aplica la opaciodad tambien es en porcentaje pero se maneja en decimales ejem, .5 === 50% */

    color: #fff;
    border: thick solid greenyellow;
}

/* CURRENT COLOR Y TRANSPARENT
transparent === rgba(0,0,0,0)
currentColor: hereda el valor por defecto asignado a la propiedad color del acentros que tenga definida esa propiedad, busca del ancestro màs cercano al màs alejado
*/
.color-trans-cur {
    background-color: magenta;
    background-color: currentColor;
    background-color: transparent;
    border: thick solid currentColor;
}

.opacity {
    background-color: orchid;
    color: navy;
    border: thick solid black;
    opacity: 0.5;
}

/* *** UNIDADES DE MEDIDA *** */
/*
Unidades de medida
1) absolutas (su valor no cambia, son unidades del mundo real)
pc,cm,mm,in,q
pt(1/72in)
px(1/96in)

2) relativas (su valor es relativo a un contexto)
em,rem,ex,ch -> al tamaño de la fuente
*) em -> basada en la anchura de la "m" de la fuente del elemento
*) rem -> basada en la anchura de la "m" de la fuente del elemento raìz(html)
*) ex -> basada en la altura de la "x" de la fuente del elemento
*) ch -> basada en la anchura del "0" de la fuente del elemento
*) % -> al tamaño del contenedor

3) vw,vh,vmin,vmax -> al tamaño del viewport
*) vw -> ancho del viewport va de 1 - 100
*) vh -> alto del viewport va de 1- 100
*) vmax -> entre vw y vh toma el que tenga mayor valor
*) vmin -> entre vw y vh toma el que tenga menor valor
*/

/* pixels */
.pixels {
    background-color: cadetblue;
    width: 500px;
    height: 400px;
    padding: 20px;
    border: thick solid rebeccapurple;
    font-size: 20px;
    font-family: sans-serif;
    word-spacing: 1px;
}

/* Ems */
.ems {
    background-color: cadetblue;
    border: thick solid rebeccapurple;
    font-size: 24px;
}

.em-child {
    background-color: salmon;
    border: thick solid beige;
    font-size: 2em; /*toma como referencia la base del contenedor padre en este caso '24px'*/
    margin: 0.5em; /*Tambien funciona para los margin*/
}

/* Rem
Hace referencia al font-size de html,sino se ha expresado explicitamente se toma el valor default 16px
*/
.rems {
    background-color: cadetblue;
    border: thick solid rebeccapurple;
    padding: 1rem 0.5rem;
    font-size: 24px;
}

.rem-child {
    background-color: salmon;
    border: thick solid beige;
    font-size: 2rem;
    padding: 1rem;
    margin: 0.5rem;
}


/* EX en la altura*/
.ex {
    background-color: cadetblue;
    border: thick solid rebeccapurple;
    padding: 1ex 0.5ex;
    font-size: 24px;
}

.ex-child {
    background-color: salmon;
    border: thick solid beige;
    font-size: 2ex;
    padding: 1ex;
    margin: 0.5ex;
}

/* CHs
1 ch === 1 caracter
*/
.chs{
    background-color: cadetblue;
    width: 10ch;
}